fastapi[standart]
uvicorn
jinja2
websockets
aiomysql
cryptography
python-multipart
PyJWT
behave
httpx
pydantic[email]
passlib[bcrypt]
pytest
pytest_bdd
pytest-asyncio
loguru
aioredis
setuptools
user_agents
redis
asyncio
pika
aio_pika
unidecode
geoip2
aiobotocore